@use 'static/variables'

.MenuItem
  padding: 12px 0
  list-style: none

  .MenuItem__link
    font-family: variables.$font-stack
    color: variables.$secondary-color
    font-size: variables.$primary-font-size
